[submodule "components/VINS-NEO"]
	path = components/VINS-NEO
	url = https://github.com/Drone-Age/VINS-NEO.git
[submodule "components/IROS2_0"]
	path = components/IROS2_0
	url = https://github.com/Drone-Age/iros2_0.git
